
    .bg{
        
        background-color: LightGray;
        
      }

      .jumbotron{
        background:url('https://www.planwallpaper.com/static/images/6909249-black-hd-background.jpg');
        background-size:cover;
        width: 100%;
        
      }

      
      