
<div class="m-5">
    <app-goback   (click)= goBack($event) ></app-goback>
</div>
<div class="bg">   
<div class="row container  p-5  "  *ngIf= "countries"   style="margin: 8%" >
  
  <div class="col-md-3" style="text-align: center" *ngFor="let all of countries">
      

  <a [routerLink]="['/single', all.name]"><img class="card-img-top"  src="{{all.flag}}"  alt="img-top"> </a>
 
    <app-all-countries [name] ="all.name"  [region] ="all.region"  [capital] ="all.capital"  [subregion] ="all.subregion"></app-all-countries>
    
  </div>
</div>
</div>


    
    
    

